:root {
  --header-color: #dae5eb;
  --title-color: #293241;
  --dark-font: #525b67;
  --button-bgc: #ee6c4d;
  --button-color: #fbfefe;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  color: var(--button-color);
  margin-bottom: 24px;
}

ul li {
  list-style-type: none;
}

.burger {
  display: none;
  position: relative;
  width: 16px;
  height: 1px;
  background-color: var(--title-color);
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

.burger::after,
.burger::before {
  position: relative;
  content: "";
  display: block;
  width: 16px;
  height: 1px;
  background: var(--title-color);
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

.burger::before {
  bottom: 6px;
}

.burger::after {
  top: 5px;
}

.burger.open {
  background-color: rgba(244, 245, 249, 0);
  z-index: 1000;
}

.burger.open::before {
  bottom: 0px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: var(--title-color);
}

.burger.open::after {
  top: -1px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: var(--title-color);
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  padding-left: 300px;
  padding-right: 300px;
}
.header__list-contact {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: var(--title-color);
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Open Sans", sans-serif;
}

.contact-item a {
  display: flex;
  color: var(--header-color);
  line-height: 24px;
  font-size: 16px;
}
.svg-box {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 26px;
  padding-bottom: 24px;
}

.header__navigation-list {
  display: flex;
  column-gap: 32px;
  align-items: center;
  font-family: "Inter", sans-serif;
  line-height: 24px;
  font-size: 16px;
  color: #3d5a80;
}

.header__buttons {
  display: flex;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 24px 14px 24px;
  background-color: var(--button-bgc);
  color: var(--button-color);
  border: none;
  border-radius: 2px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.button span {
  margin-right: 16px;
}

.button-svg-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-basket {
  width: 52px;
  height: 52px;
  border-radius: 2px;
  border: 1px solid #e7eaec;
  background-color: inherit;
  margin-left: 40px;
}

/* MAIN */
.first-screen {
  display: flex;
  justify-content: space-between;
  background-image: url("../images/main.png");
  background-size: cover;
  padding-top: 16px;
}

.first-screen__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 536px;
}

.first-screen__text p {
  margin-bottom: 40px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #fbfefecc;
}

.first-screen__button {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 12px;
  max-width: 272px;
}

/* MAIN PRODUCT */
.product {
  padding-top: 96px;
  padding-bottom: 100px;
}

.product-box {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.product__header {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  max-width: fit-content;
  margin-bottom: 40px;
}

.product__header::after {
  content: "";
  display: block;
  width: 100%;
  height: 12px;
  background-color: var(--button-bgc);
  margin-top: 12px;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 23%;
  padding: 40px 16px;
  border: 1px solid #e7eaec;
  border-radius: 2px;
  box-shadow: 0px 0px 2px rgba(33, 37, 41, 0.04),
    0px 4px 8px rgba(41, 50, 65, 0.08);
}

.item-name {
  text-align: center;
  margin-bottom: 24px;
  max-width: 242px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.product-item img {
  max-height: 100%;
}

/* ABOUT SCREEN */

.about {
  display: flex;
  align-items: start;
  padding-bottom: 388px;
}

.about-header {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 24px;
  color: var(--title-color);
}

.about-sertificate {
  margin-right: 40px;
  object-fit: none;
}

.about-text-box {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-font);
}

.about-text:nth-child(-n + 7) {
  margin-bottom: 24px;
}

.about-list {
  margin-bottom: 16px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 104px;
}

.about-list li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.about-list svg {
  margin-right: 8px;
}


/*CONTACT & CONSULTATION & MAP*/

.contact-box {
  position: relative;
}

.consultation {
  position: absolute;
  display: flex;
  padding: 80px;
  background: linear-gradient(90deg, #ee6c4d -1.1%, #3d5a80 72.92%);
  font-family: "Open Sans";
  top: -310px ;
}

.consultation-text-box {
  display: flex;
  max-width: 520px;
  flex-direction: column;
}

.consultation-header {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 24px;
}

.consultation-text {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 24px;
  color: var(--button-color);
  opacity: 0.85;
}

.consultation-list {
  display: flex;
  justify-content: space-between;
}
.woman-box {
  position: relative;
  height: fit-content
}
.woman-img {
  position: absolute;
  right: 0;
}

.map-frame {
  width: 100%;
  height: 540px;
}

/* Screens MEDIA  */

@media (max-width: 1600px) {
  .container {
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media (max-width: 1320px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1080px) {
  .header__navigation-list {
    order: 1;
    margin-top: 20px;
  }

  .first-screen {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
  }
  .img-man {
    position: absolute;
    height: 408px;
    bottom: 0;
    right: -96px;
  }

  .about {
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding-bottom: 92px;
  }

  .about-sertificate {
    margin-right: 0;
  }
  .about-header {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 48px;
  }

  .about-text-box {
    font-size: 16px;
    line-height: 24px;
  }

  .about-text {
    margin-bottom: 24px;
  }

  .about-list {
    max-height: 144px;
  }
}

/* MEDIA 880 */

@media (max-width: 880px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .header__list-contact {
    padding: 16px 24px;
    flex-wrap: wrap;
    row-gap: 12px;
  }
  .header__navigation {
    padding-left: 24px;
    padding-right: 24px;
  }

  .contact-item {
    width: 47%;
  }

  .svg-box {
    width: 20px;
    height: 20px;
  }

  .contact-item-1 {
    order: 0;
  }
  .contact-item-2 {
    order: 3;
  }
  .contact-item-3 {
    order: 2;
  }
  .contact-item-4 {
    order: 4;
  }

  .first-screen__text p {
    font-size: 16px;
    line-height: 24px;
    max-width: 389px;
  }

  h1 {
    font-size: 44px;
    line-height: 52px;
  }

  .product {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .product__header {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .product__header::after {
    height: 8px;
    margin-top: 8px;
  }
  .product-box {
    gap: 24px;
  }

  .product-item {
    width: 31%;
    padding: 24px 16px;
  }

  .item-name {
    font-size: 18px;
    line-height: 24px;
  }
}

/* MEDIA 625 */

@media (max-width: 625px) {
  .header__list-contact,
  .header__navigation-list,
  .header__load-button,
  .img-man {
    display: none;
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .burger {
    display: block;
  }

  .header__navigation {
    padding: 24px 16px 16px;
  }

  .header__logo {
    height: 32px;
  }

  .header__buttons {
    align-items: center;
    justify-content: center;
  }

  .button-svg-box {
    height: 32px;
    width: 32px;
    margin-left: 0;
    margin-right: 16px;
  }

  .button-svg-box svg {
    width: 14px;
    height: 14px;
  }

  .first-screen {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  h1 {
    font-size: 36px;
    line-height: 40px;
  }

  .product {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .product__header {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  .product-item {
    width: 46%;
    padding: 16px 8px;
  }
  .item-name {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
  }

  .product-item img {
    max-width: 100%;
  }

  .about-header {
    margin-bottom: 12px;
    font-size: 28px;
    line-height: 36px;
  }

  .about-text-box {
    font-size: 14px;
    line-height: 20px;
  }

  .about-text {
    margin-bottom: 16px;
  }

  .about-list {
    max-height: 160px;
  }

  .about-list li {
    max-width: 46%;
    font-size: 14px;
    line-height: 16px;
  }
}
